.venv/
.venv
venv/
__pycache__/
*.py[cod]
.env
.git/
.gitignore
.gitattributes
.vscode/
log/
*.log
aulelibere_pp
Pipfile*
requirements.txt
Procfile
docs/
photos/README/
README.md
LICENSE
**/__pycache__/
*.egg-info/
